<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/styleschat.css">
  <title> {{model}} Detection </title>
</head>
<body>
  <h1>{{model}} Detection</h1>
  <div class="container">
    <h3>Upload a X-ray of {{model}}</h3>
    <p>Upload your file to detect {{model}}</p>
    <form action="{{ url_for('upload_file') }}" method=post enctype=multipart/form-data>
      <p>Please upload a file for {{model}} detection</p>
      <input type=file id="fileinput" name=file accept=".jpeg, .jpg, .png">
      <br></br>
      <input type=submit value=Upload>
      <p>Only .jpeg, .jpg, .png are accepted</p>
    </form>
  </div>
</body>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styleschat.css">
  <title>Pneumonia Cancer Detection</title>
</head>
<body>
    <div class="container">
        <h1>Pneumonia Cancer Detection</h1>
        <p>Welcome to our website! Upload your chest xrays to detect pneumonia.</p>
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
          <p>Please upload a chest xray for detection</p>
            <input type="file" id="fileInput" name="fileInput" accept=".jpg, .jpeg, .png">
            <label for="fileInput" class="upload-btn">Upload MRI Scan</label>
            <br><br>
            <input type="submit" value="Upload">
        </form>
        <p style="color: #666;">Note: Only .jpg, .jpeg, and .png files are allowed.</p>
        <p>Pneumonia is a serious condition that requires timely diagnosis and treatment. Early detection can significantly improve patient outcomes.</p>
    </div>

    <div class="container" style="display: none;">
        <h2>MRI Scan Image</h2>
        <img id="previewImage" src="#" alt="MRI Scan Image">
        <form action="prediction.php" method="post">
            <input type="submit" value="Predict Cancer">
        </form>
    </div>
  </body> -->
