<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styleschat.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.jpg">
    <title>Froject</title>
</head>
<body>
    <div>
        <p>Voila this the website </p>
    </div>
    <div class="container" id="selection">
        <form action="{{url_for('index')}}" method="POST">
            <select name="dropdown" id="selection">
                <option value="Pneumonia">Pneumonia</option>
                <option value="Brain Tumor"> Brain Tumor</option>
                <option value="Melanoma"> Melanoma </option>
            </select>
            <br>
            <br>    
            <button id="selectionButton" onclick="{window.location.href= '/upload'}">Select</button>
        </form>
    </div>
</body>
</html>